body,
html {
    background-image: url('../images/mainPageBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
    margin: 0;
}

.content {
    margin: 10px;
}

#imgBlock1 {
    max-width: 100%;
    max-height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.westmontRed {
    background-color: rgb(157, 34, 54);
    font-weight: bold;
}